# Base C++ image
FROM gcc:latest

# Set working directory
WORKDIR /app

# Copy the application source code
COPY . .

# Build the C++ application
RUN g++ -o app main.cpp

# Default command to run the C++ application
CMD ["./app"]

