# Base Java image
FROM {{JAVA_VERSION}}

# Set working directory
WORKDIR {{WORKDIR}}

# Copy the application source code
COPY {{COPY}}

# Build the Java application
RUN {{RUN_DEPENDENCY}}

# Default command to run the Java application
CMD {{CMD}}
