# Base image
FROM {{NODE_VERSION}}

# Set maintainer
MAINTAINER {{MAINTAINER}}

# Install database management system
RUN {{RUN_MAIN}}

# Set working directory
WORKDIR {{WORKDIR}}

# Copy application code
COPY {{COPY}}

# Install dependencies
RUN {{RUN_DEPENDENCY}}

# Expose ports
EXPOSE {{EXPOSE}}

# Start the application
CMD {{CMD}}