# Base Python image
FROM {{PYTHON_VERSION}}

# Set working directory
WORKDIR {{WORKDIR}}

# Copy the requirements file
COPY {{COPY_DEPENDENCY}}

# Install Python dependencies
RUN {{RUN_DEPENDENCY}}

# Copy the application code
COPY {{COPY}}

# Default command to run the Python application
CMD {{CMD}} 
